<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter</title>
  </head>
  <body>

      <h1>Please write a word, and a sentence of your choosing.</h1>

      <div class="containter">

        <form action="/game" method="post">
          <label for="word">Input Word</label>
          <input id="word" name="word" type="text">

          <label for="sentence">Input Sentence</label>
          <input id="sentence" name="sentence" type="text">

          <button type="submit">Compare!</button>
        </form>
      </div>

  </body>
</html>
