<!DOCTYPE html>
<html>
    <head>
        <title>Word Counter</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Word Counter Test</h1>
            <p>Welcome to my project! You will be asked to insert a word, as well as a sentence, and my wonderful website will tell you if the word is in the sentence, and how many times it appears.</p>
            <a href="/game/new">Want to try??</a>
        </div>
    </body>
</html>
